:root {
  --Rain: url("https://cdnb.artstation.com/p/assets/images/images/044/191/175/original/ryan-haight-kerry-park-rainy.gif?1639344501");
  --Clouds: url("https://i.pinimg.com/originals/14/0c/8d/140c8d8d674eac9e1a631d6c2a4a56fd.gif");
  --Drizzle: url("https://data.whicdn.com/images/314585703/original.gif");
  --Clear: url("https://thumbs.gfycat.com/UnfoldedRedJaguarundi-max-1mb.gif");
  --Snow: url("https://i.pinimg.com/originals/84/ae/ae/84aeaec6b6e64730b07610a8474022ca.gif");
  --Thunderstorm: url("../images/thunderstorm.gif");
  --default: url("https://wallpaperaccess.com/full/3517019.gif");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: var(--default);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;
}

.card {
  background: rgba(0, 0, 0, 0.65); 
  color: white;
  padding: 1.5em;
  border-radius: 40px;
  width: 100%;
  max-width: 520px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 120%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 10px;
  margin-bottom: 0.3em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
  margin-top: 1em;
}

.weather {
  margin-left: 43px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "";
  color: white;
  position: absolute;
  top: 0;
  left: 30px;
}

.week-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 35px;
  -webkit-box-shadow: 0 0 50px -5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 50px -5px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 2em;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.week-list>li {
  float: left;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
  margin: 4px;
  align-items: center;
  background: #7c7c7c2b;
}

.week-list>li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background: #7c7c7c6b;
  outline: none;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2)
}

.week-list>li .day-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.week-list>li .day-icon {
  display: block;
  height: 30px;
  width: auto;
  margin: 0 auto;
}

.week-list>li .day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}
